/Telegram/Data/*
/Telegram/PreSelection/*
/Telegram/anon.session
/PumpOlymp/HistoryPumpDump.json
/PumpOlymp/PumpHistoryAnalyze.ipynb
#/.gitignore
/PumpOlymp/.ipynb_checkpoints/*
/Telegram/Labeled/*
/.DS_Store
/.idea/*
/CoinStatistics/data
/CoinStatistics/.ipynb_checkpoints
/CoinStatistics/binance_pump_analysis.ipynb
/CoinStatistics/Measurement.ipynb
/CoinStatistics/Unattack_sample_collection.ipynb
/NextPumpDetection/FeatGeneration/neg_binance_required_file_name.txt
/NextPumpDetection/FeatGeneration/pump_sample_raw.csv
/NextPumpDetection/FeatGeneration/neg_coin_gecko_statistics.txt
/NextPumpDetection/FeatGeneration/coinDate2Statistics_pred3d.json