/TelegramData/raw/all_clean_message.txt
/TelegramData/PreSelection/*
/.DS_Store
/.idea/*
/CoinStatistics/data/*
/TargetCoinPrediction/FeatGeneration/raw/*
/TargetCoinPrediction/FeatGeneration/feature/*
/TargetCoinPrediction/Train/Model_seq_pos/save_log/*