/.DS_Store
/Data/Telegram/raw/all_clean_message.txt
/Data/Telegram/PreSelection/*
/Data/Telegram/.DS_Store
/Data/Telegram/Labeled/.DS_Store
/Data/Telegram/raw/.DS_Store
/.idea/*
/Data/Binance/data/*
/Data/Binance/.DS_Store
/TargetCoinPrediction/.DS_Store
/TargetCoinPrediction/Train/Model_seq_pos/save_log/*
/TargetCoinPrediction/FeatGeneration/feature/*
!/TargetCoinPrediction/FeatGeneration/feature/wv_embedding.pkl
/TargetCoinPrediction/FeatGeneration/__pycache__
/TargetCoinPrediction/SeqModel/__pycache__
/TargetCoinPrediction/SeqModel/.DS_Store
/Data/Telegram/anon.session
/.idea/*
/PriceForecasting/*
/TargetCoinPrediction/SeqModel/ckpt_dir/*